body{
    margin: 0;
    font-family: sans-serif;
}
.header{
    background-color: royalblue;
    height: 50px;
    font-size: 2em;
    color: white;
    padding: 20px;

}
.todoform{
    width: 100%;
    margin: auto;
    margin-top: 20px;


}
.todoinput{
    width: 100%;
    border:none;
    border-bottom: 1px solid whitesmoke;
    font-size: 25px ;
    text-align: center;
    height: 50px;
}
.todobutton{
    width: 100%;
    border:none;
    height:50px ;
    background-color: lightpink;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
    font-size: 1.2em;
    color:whitesmoke;
}

.todoitem{
    margin:auto;
    border: 2px solid whitesmoke;
    padding:20px;
    margin-top: 20px;
}
.todoname{

}

.deletebutton{
    width: 100px;
    border:none;
    height:50px ;
    background-color: sandybrown;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
    border-radius: 2px;
    color:whitesmoke;
}